
/* navigation bar */

.navbar {
    position: static;
}
.logo {
    margin-left: 0px;
}
nav ul {
    position: relative;
    float: left;
    margin-top: 15px;
    margin-left: 100px;
    padding: 0px;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}
nav > ul > li > a {
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 450;
    color: white;
    text-decoration: none;
}
nav > ul > li > a:hover {
    color:orange;
}
nav > ul > li > a::before {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: orange;
    transition: all ease-in-out 250ms;
}
nav > ul > li > a:hover::before {
    width: 100%;
}

© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
